@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Mantenimiento de Equipos</h1>
    <br/>
    <form asp-action="CrearEquipos">
        @*Inicio de formulario*@
        <div class="form-group mb-4">
            <div class="row">
                <div class="col-sm-2">
                    <label>Nombre</label>
                </div>
                <div class="col-sm-4">
                    @Html.TextBox("nombre", "", new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label("lblDescripcion", "Descripción")
                </div>
                <div class="col-sm-4">
                    @Html.TextArea("descripcion", "", new { @class = "form-control", @placeHolder = "Ingrese la descripción" })
                </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="row">
                <div class="col-sm-2">
                    <label>Tipo de Equipo</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("tipo_equipo_id", ViewData["listadoDeTipos"] as SelectList, "Seleccione un tipo", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="row">
                <div class="col-sm-2">
                    <label>Marca</label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("marca_id", ViewData["listadoDeMarcas"] as SelectList, "Seleccione una marca", new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label("lbModelo", "Modelo")
                </div>
                <div class="col-sm-4">
                    @Html.TextBox("modelo", "", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="row">
                <div class="col-sm-2">
                    <label>Año de compra</label>
                </div>
                <div class="col-sm-4">
                    @Html.TextBox("anio_compra", "", new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label("lbCosto", "Costo")
                </div>
                <div class="col-sm-4">
                    @Html.TextBox("Costo", "", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="row">
                <div class="col-sm-2">
                    <label>Vida Útil</label>
                </div>
                <div class="col-sm-4">
                    @Html.TextBox("vida_util", "", new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    @Html.Label("lblEstado", "Estado")
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("estado_equipo_id", ViewData["listadoDeEstados"] as SelectList, "Seleccione un estado", new { @class = "form-control" })
                </div>
            </div>
        </div>


        <div class="form-group mb-4">
            <div class="col-sm-2">
                <label>Inactivo</label>
            </div>
            <div class="col-sm-4">
                @Html.CheckBox("estado", (bool)ViewData["estado"], new { @class = "form-check-input" })
            </div>
        </div>

        <div class="form-group mb-4">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
               <input type="submit" class="btn btn-primary" value="Guardar"/>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <th>Equipo</th>
                <th>Descripción</th>
                <th>Marca</th>
            </thead>
            <tbody>
                @foreach (var equipo in (IEnumerable<dynamic>)ViewData["listadoEquipo"])
                {
                    <tr>
                        <td>@equipo.nombre</td>
                        <td>@equipo.descripcion</td>
                        <td>@equipo.marca_nombre</td>
                    </tr>
                }
            </tbody>
        </table>
        @*Fin de formulario*@
    </form>
}
